{% include 'vpn_service/base.html' %}

{% block main %}
    <div class="d-flex align-items-center py-4" data-bs-theme="dark">
        <main class="form-signin w-100 m-auto" style="max-width: 330px;">
            <form method="POST">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Create Site</h1>
                {% for field in create_site_form %}
                    {{ field.errors }}
                    <div class="form-floating my-2">
                        {{ field }}
                        {{ field.label_tag }}
                    </div>
                {% endfor %}

                <button class="btn btn-secondary w-100 py-2 mt-3" type="submit">Create</button>
            </form>
        </main>
    </div>
{% endblock %}